<div class="backdrop">
  <div id="main">
    
    this is the rootview
  </div>
</div>

<script>
  var User_Info = JSON.parse(
    '<%=  Hash[User.all.pluck(:email, :id)].to_json.html_safe %>'
  );

  var USER_EMAILS = Object.keys(User_Info);

  $(TrelloVideo.initialize)
</script>


