<div class="backdrop">
  <div id="main">
    
    this is the rootview
  </div>
</div>

<script>
var USER_NAMES = JSON.parse('<%= User.all.pluck(:email).to_json.html_safe %>');
  $(TrelloVideo.initialize)
</script>