<div class="panel panel-default card_block">
  <div class="panel-body">
    <%= card.escape('title') %>
    <button class="close" id="deleteCard" data-id="<%= card.id %>"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
  </div>
</div>

