<div class='boards-index-title'>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="add_board_button">
      Add Game
  </button>
</div>

<ul class='boards-container'>
  <% boards.each(function (board) { %>
    <li>
       <div class='col-xs-9'>
          <a href="#/boards/<%= board.id %>">        
           <text><%= board.escape("title") %></text>
          </a>
       </div>
       
      <div class='col-xs-3'>
          <button class="close" id="delete_board" data-id="<%= board.id %>"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button> 
      </div>  
    </li>
  <% }); %>
</ul>

<!--modal starts here -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">New Board</h4>
        </div>
        <form id="createBoard">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-2">
                 <lable for="board_title control-label">Title:</label>
              </div>
              <div class="col-xs-10">
                <input 
                  class="col-xs-10 form-control" 
                  type="text" 
                  name="board[title]" 
                  autofocus
                  id="board_title">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="create" id="creat_board">
          </div>
        </form>
      </div>
    </div>
</div>
  
  
