<div class='board-show-header'>
    <h4><%= board.escape('title') %></h4>
    <!--Add List button starts here -->
    <!-- Button trigger modal -->
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#listButton">
        Add List
    </button> 
  
    <section class="navbar">
      <div id="open-sb" class="menu-icon menu-button menu-left">
         <span class="glyphicon glyphicon-list"></span>
      </div>
    </section>
</div>

<div class="boardShow-body">
  <ul class="lists_container">
      <!--page contents goes in here -->
  </ul>

 <section class="sidebar">
    <div id="bloodhound"> 
      <form class="createMember">
         <input class="typeahead form-control" type="text" placeholder="Search Member via Email" id="memberEmail">
         <input class="btn btn-default add_button" type="submit" value="add">
      </form>
<!--members shows here -->
      <ul class="membersContainer">
        
      </ul>
<!--members ends here -->
    </div>
 </section>
</div>

<!-- Modal -->
  <div class="modal fade" id="listButton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">New List</h4>
        </div>
        <form class="createList" data-id="<%= board.escape('id') %>">
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-2">
                 <lable for="board_title">Title:</label>
              </div>
              <div class="col-xs-10">
                <input class="col-xs-10" type="text" name="list[title]" id="list_title">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="create" id="create_list">
          </div>
        </form>
      </div>
    </div>
  </div>
