<div class='show-board-header'>
  <h4><%= board.escape('title') %></h4>
</div>

<div class="show-lists">
  <% board.lists().each(function(list){ %>
    
    <% list.escape("title") %>
    
  <% }) %>
</div>


  