<h2>Sign Up</h2>

<form action="/users" method="post">
  <%= auth_token_input %>
  
  <label for="user_emal">email</label>
  <input type="text" name="user[email]" id="user_emal">
  
  <label for="user_password">password</label>
  <input type="password" name="user[password]" id="user_password">
  
  <input type="submit" value="Sign Up"  class="btn btn-primary">
</form>