<div class="SignOn">
  <div class="row">
    <div class= "col-xs-6 col-xs-offset-3">
      <h2>Welcome to TacticBoard</h2>
    </div>
  </div>

  <div class="row">
    <div class= "col-xs-6 col-xs-offset-3">
      <form action="/users" method="post">
        <%= auth_token_input %>
  
        <label for="user_emal">Email:</label><br>
        <input type="text" name="user[email]" id="user_emal"><br>
  
        <label for="user_password">Password:</label><br>
        <input type="password" name="user[password]" id="user_password"><br>
        <br>
        <input type="submit" value="Sign Up" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>