<header>
	<p>Board Members</p>
</header>

<ul class="members">
	<% members.each(function (member) { %>
		<li class="member" data-user-id="<%= member.id %>">
	      <%= member.user_id %>
		</li>
	<% }); %>
</ul>

<form class="createMember">
	<input type="text" name="members[user_id]">
	<input type="submit" value="Add Member">
</form>