/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "font-awesome";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

//---------------intropage style----------------------
.SignOn {
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  padding-bottom: 2%;
  
}

.jumbotron{
  text-align:center;
}

#introduction {
  background-color: #ecf4f9;
  height: 400px;
};

#board_guidiance {
  background-color: white;
  height: 400px;
};


#introduction_footer {
  background-color: #45a6de;
  height: 400px;
};

.title {
  font-weight: bold;
  text-align: center;
  font-size: 200%;
};

ul {
  list-style: none;
};

body{
  background-image:url("background.jpg");
  background-size: cover;
}

//-----index page style----------------------------------
.content-container-boards{
  height: 700px;
  clear: both;
  overflow: auto;
}

.boards-index-title > button {
  display: inline-block;
}

.boards-container > li {
  margin: 0 16px 16px 0;
  width: 25%;
  height: 120px;
  float: left;
  background-size: 100%;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/6d/._Possibly_an_arithmatic_problem_on_blackboard_in_schoolroom._%22BAH_1917%22_-_NARA_-_297408.jpg");
  a {
    height: 90px;
    color: #f6f6f6;
    font-size: 26px;
    padding: 25px 25px;
    display: block;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
    box-sizing: normal;
    position: relative;
  }
}

.board-show-header {
  h4{
    display: inline-block;
  }
  section{
    display:inline-block;
    float:right;
    margin-right:20px;
    span.glyphicon-list {
        font-size: 1.5em;
    }
  }
  margin-bottom: 2%;
}

.lists_container > li {
  vertical-align: top;
  background-color:#939393;
  margin: 0 16px 16px 0;
  width: 25%;
  display: inline-block;
  border-radius:5px;
  button{
    margin: 0 auto;
    width: 30%;
    text-align: center;
  }
}

.list-show-header{
  margin: 0 auto;
}

.cards_container > li {
  width: 90%;
  margin: 0 auto;
  display:block;
}

.sidebar{
  background-color:#f0f0f0;
  border-top-left-radius: 3px;
  box-shadow:0 0 6px rgba(0,0,0,.4);
}


