
  <% if signed_in? %>
  <% else %>
    <div class="jumbotron row" id="introduction">
      <div class="col-xs-12 title">
        TacticBoard makes it easy to organize anything with players.
      </div><br>
      <div class="col-xs-8 col-xs-offset-2">
        <section>
    Drop the lengthy email threads, out-of-date spreadsheets, no-longer-so-sticky notes, and clunky software for managing your projects and get Trello, the easy, free, and visual way to organize your important stuff.
        </section><br>
        
        <div class="col-xs-6 col-xs-offset-3">
          <p><a href="" class="btn btn-primary btn-lg" role="button">Sign Up-It's Free</a>
          </p>
        </div>
      </div>
      
    </div>
    
    <!-- <div class="row" id="board_guidiance">
      <div class="col-xs-12 title">Trello makes it easy to organize anything with anyone.</div>

      <div class="col-xs-8 col-xs-offset-2">
        <section>
    Drop the lengthy email threads, out-of-date spreadsheets, no-longer-so-sticky notes, and clunky software for managing your projects and get Trello, the easy, free, and visual way to organize your important stuff.
        </section>
      </div>

    </div>

    <div class="row" id="introduction_footer">
      <div class="col-xs-12 title">Trello makes it easy to organize anything with anyone.</div>

      <div class="col-xs-8 col-xs-offset-2">
        <section>
    Drop the lengthy email threads, out-of-date spreadsheets, no-longer-so-sticky notes, and clunky software for managing your projects and get Trello, the easy, free, and visual way to organize your important stuff.
        </section>
      </div>

    </div> -->
    
    
  <% end %>
